    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .task-form, .task-list {
        background: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 50vw; /* Ширина формы и списка */
        margin: 30px;
    }

    .form-group {
        margin: 15px 0;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input, .form-group textarea, .form-group select {
        width: calc(100% - 22px);
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .form-group button {
        width: 100%;
        padding: 10px;
        background-color: #5cb85c;
        border: none;
        color: white;
        border-radius: 4px;
        cursor: pointer;
    }

    .form-group button:hover {
        background-color: #296029;
    }

    .task-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .task-item:last-child {
        border-bottom: none;
    }

    .task-actions {
        display: flex;
        gap: 10px;
    }

    .nav-panel {
        width: 100%;
        background: #296029;
        color: white;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: center;
    }

    .nav-panel a {
        color: white;
        margin: 0 15px;
        text-decoration: none;
    }





/* МОДАЛЬНОЕ ОКНО */
    .modal {
        display: none; /* Скрыто по умолчанию */
        position: fixed; /* Окно фиксировано на экране */
        z-index: 1; /* На переднем плане */
        left: 0;
        top: 0;
        width: 100%; /* Полная ширина */
        height: 100%; /* Полная высота */
        overflow: auto; /* Прокрутка при необходимости */
        background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    }

    .modal-content {
        background-color: white;
        margin: 10% auto; /* Центрирование окна */
        padding: 20px;
        border: 1px solid #888;
        border-radius: 5px;
        width: 50%; /* Ширина модального окна */
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }




    /* p {
    color: red
    font-size: 16px;
}
    body{
        padding-top: 30 px;
        margin-bottom: 15 px;
        text-align: justify;
    } */



    
